.hero {
    padding: 0;
    position: absolute;
    top: -3rem;
    left: calc(0.5 * (100% - min(800px, 100%)));
    width: min(800px, 100%);
    height: 19rem;
    opacity: 0.7;
}

@media all and (max-width: 1000px) {}

@media all and (max-width: 600px) {
    .hero {
        width: 100%;
        left: 0;
        height: 26rem;
    }
}


.post-header {
    color: beige;
}